body {
  margin-top: 3rem;
    text-align: center;
    font-family: Times, 'Times New Roman', serif
  }
  
  h1{
    padding: 20px;
  }

  .main-container{
    margin: 10% 10%;
    text-align: center;
    background-color: white;
    box-shadow: 5px 5px 50px 10px rgba(0, 0, 0, 0.1);
  }

  .ergebnisse{
    font-size: larger;
    text-shadow: 1px 1px 2px pink;

  }

  input{
    padding: 5px 5px; 
  }

  button{
    margin-top: 20px;
    width: max-content;
    padding: 20px 20px; 
    margin-bottom: 10px;

  }

  .berechnung-verbrauch{
    align-items: center;
    justify-content: center;
  }