body {
  margin-top: 3rem;
    text-align: center;
    font-family: Times, 'Times New Roman', serif
  }
  
  h1{
    padding: 20px;
  }

  .main-container{
    margin: 10% 10%;
    text-align: center;
    background-color: white;
    box-shadow: 5px 5px 50px 10px rgba(0, 0, 0, 0.1);
  }

  button{
    width: max-content;
    margin-bottom: 10px;

  }